{% extends 'base.html.twig' %}

{% block title %}Contact Form{% endblock %}

{% set rand = random() %}

{% block body %}

    {{ form_start(form, {'action': path('contact_post_contact'), 'method': 'POST', 'attr': {'class': 'form-contact'}}) }}

        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Contact Us</h1>
        </div>

        {% for error_message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endfor %}

        {% for success_message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ success_message }}
            </div>
        {% endfor %}

        <div class="form-label-group">
            {{ form_widget(form.fname, {attr: {class: 'form-control', placeholder: 'First Name',autocomplete: 'off'}} ) }}
            {{ form_errors(form.fname) }}
            <label for="contact_fname">First Name</label>
        </div>

        <div class="form-label-group">
            {{ form_widget(form.lname, {attr: {class: 'form-control', placeholder: 'Last Name',autocomplete: 'off'}} ) }}
            {{ form_errors(form.lname) }}
            <label for="contact_lname">Last Name</label>
        </div>

        <div class="form-label-group">
            {{ form_widget(form.email, {attr: {class: 'form-control', placeholder: 'Email',autocomplete: 'off'}} ) }}
            {{ form_errors(form.email) }}
            <label for="contact_email">Email</label>
        </div>

        <div class="form-group">
            <label for="contact_message">Message</label>
            {{ form_widget(form.message, {attr: {class: 'form-control', rows: '8', placeholder: 'Message',autocomplete: 'off'}} ) }}
        </div>

        <div class="form-label-group">
            <input name="contact[recaptcha]" type="hidden" id="RECAPTCHA_{{ rand }}" value=""/>
            {{ form_errors(form.recaptcha) }}
        </div>

        <button class="btn btn-lg btn-primary btn-block" name="contact[save]" id="contact_save" type="submit">Submit</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2021-2022</p>

{% endblock %}

{% block jscript %}
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute("{{ recaptcha_site_key }}", {action: 'create_contact'}).then(function(token) {
                document.getElementById("RECAPTCHA_{{ rand }}").value = token;
            });
        });
    </script>
{% endblock %}
