Hi {{ contact.fname }},

<p>
Thanks for contacting us!
</p>
<p>
Here is a copy of your message.
</p>

<h3>Contact Form</h3>
<table border="1">
    <tr>
        <td>Name</td>
        <td>{{ contact.fname }} {{ contact.lname }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ contact.email }}</td>
    </tr>
    <tr>
        <td>Message</td>
        <td>{{ contact.message }}</td>
    </tr>
</table>

<p>
The Admin Team
</p>
